body {
    display: flex;
    justify-content: center;
}

#container {
    border-style: solid;
    border-width: 1px 1px;
    display: flex;
    margin: 18px;
    flex-flow: column nowrap;
    width: 900px;
    height: 900px;
}

.gridVer {
    display: flex;
    height: 100px;
    width: auto;
    flex-grow: 1;
}

.gridHorizon {
    flex-grow: 1;
}